@page "/Token"
@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime
@inject IJSRuntime JS

@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks

<style>
    form {
        margin-top: 20px;
        background-color: #181818;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px; /* Add margin-bottom */
    }

    label {
        color: #ccc;
        font-weight: bold;
        margin-bottom: 8px;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    input[type="file"],
    button,
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: #000;
        color: white;
        caret-color: white;
        border-color: #666;
    }

    button {
        background-color: #192734;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>

<h1>Custom Token Information</h1>
<form id="tokenInfoForm">
    <label for="tokenCodemin">Token Code:</label>
    <input type="text" id="tokenCodemin" @bind="@TokenCode" required><br><br>
    <label for="issuerAccountmin">Issuer Account Public Key:</label>
    <input type="text" id="issuerAccountmin" @bind="@IssuerAccount" required><br><br>
    <button type="button" @onclick="GetTokenInformation">Get Token Information</button>
</form>
<div id="tokenInfo">@TokenInfo</div>
<div id="messageS">@Message</div>

@code {
    private string TokenCode { get; set; }
    private string IssuerAccount { get; set; }
    private string TokenInfo { get; set; }
    private string Message { get; set; }

    private async Task GetTokenInformation()
    {
        // JavaScript function to fetch token information
        await JSRuntime.InvokeVoidAsync("getTokenInformation", TokenCode, IssuerAccount);
    }
}

@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/11.3.0/stellar-sdk.min.js"></script>
    <script src="./_content/pakana.stellar.components/js/customTokenInfo.js"></script>
}