@page "/Pin"
@inject IJSRuntime JSRuntime

<style>
    .container {
        margin-top: 20px;
        background-color: #181818;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    label {
        color: #ccc;
        font-weight: bold;
        margin-bottom: 8px;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: #000;
        color: white;
        caret-color: white;
        border-color: #666;
    }

    button {
        background-color: #192734;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>

<h1>Pin File to IPFS and Send Payment</h1>
<div class="container">
<label for="fileInput">Choose a file:</label>
<input type="file" id="fileInput" accept=".txt,.pdf,.jpg,.png">
<br>
<label for="apiKeyInput">Enter your Pinata API key:</label>
<input type="text" id="apiKeyInput">
<br>
<label for="senderPublicKeyInput">Sender Public Key:</label>
<input type="text" id="senderPublicKeyInput">
<br>
<label for="senderSecretKeyInput">Sender Secret Key:</label>
<input type="password" id="senderSecretKeyInput">
<br>
<label for="destinationPublicKeyInput">Recipient Public Key:</label>
<input type="text" id="destinationPublicKeyInput">
<br>
<label for="paymentAmountInput">Payment Amount (XLM):</label>
<input type="number" id="paymentAmountInput" step="0.01">
<br>
<button onclick="pinFile()">Pin File to IPFS and Send Payment</button>
<p>IPFS Hash: <span id="ipfsHash"></span></p>
</div>

@code {
    private string file;
    private string apiKey;
    private string senderPublicKey;
    private string senderSecretKey;
    private string destinationPublicKey;
    private string paymentAmount;
    private string ipfsHash;

    private async Task PinFile()
    {
        await JSRuntime.InvokeVoidAsync("pinFile");
    }
}
    
<script src="./_content/pakana.stellar.components/js/docIpfsPayment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stellar-sdk"></script>
<script src="https://unpkg.com/ipfs-http-client/dist/index.min.js"></script>