@page "/EnvelopeGenerator"
@rendermode InteractiveAuto
   
<style>
    .container {
        margin-top: 20px;
        background-color: #181818;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    label {
        color: #ccc;
        font-weight: bold;
        margin-bottom: 8px;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: #000;
        color: white;
        caret-color: white;
        border-color: #666;
    }

    button {
        background-color: #192734;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>

    <h1>Stellar XDR Payment Envelope Generator</h1>
<div class="container">
    <label for="senderSecretKey">Sender's Secret Key:</label>
    <input type="text" id="senderSecretKey" />
    <br>
    <br>
    <label for="receiverPublicKey">Receiver's Public Key:</label>
    <input type="text" id="receiverPublicKey" />
    <br>
    <br>
    <label for="amount">Amount to Send (XLM):</label>
    <input type="number" id="amount" />
    <br>
    <br>
<button id="generateButton" onclick="generateEnvelope()">Generate XDR Envelope</button>
</div>

    <div id="xdrDisplay" style="margin-top: 20px; display: none;">
        <h3>Generated XDR Envelope:</h3>
        <textarea id="xdrTextArea" rows="6" cols="60" readonly></textarea><br>
        <button onclick="copyXdr()">Copy XDR</button>
        <p id="copyStatus"></p>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/11.2.2/stellar-sdk.min.js"></script>
<script src="./_content/pakana.stellar.components/js/xdrPayGenerator.js"></script>
   