@page "/AddSignature"
@rendermode InteractiveAuto

<style>
    .container {
        margin-top: 20px;
        background-color: #181818;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    label {
        color: #ccc;
        font-weight: bold;
        margin-bottom: 8px;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: #000;
        color: white;
        caret-color: white;
        border-color: #666;
    }

    textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #000;
    color: white;
    caret-color: white;
    border-color: #666;
    }

    button {
        background-color: #192734;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>

<h2>Add Signature to Stellar XDR</h2>
<div class="container">
    <textarea id="xdrInputro" type="textarea" placeholder="Enter XDR string here" rows="4"cols="50"></textarea>
    <input type="text" id="secretKeymine" placeholder="Enter your secret key">
    <button onclick="addSignature()">Add Signature</button>
    <p id="newXdrOutput"></p>
    <button onclick="copyNewXdr()">Copy XDR</button>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/11.2.2/stellar-sdk.min.js"></script>
<script src="./_content/pakana.stellar.components/js/xdrGen.js"></script>