@page "/FundWallet"
@rendermode InteractiveAuto

<h1>Fund Stellar Wallet</h1>
<label for="walletAddress">Enter Wallet Address:</label>
<input type="text" id="walletAddress" placeholder="Enter wallet address"
       style="width: 300px;">
<button onclick="fundWallet()">Fund Wallet</button>
<div id="result" style="margin-top: 20px;"></div>

@code{
    string walletAddress{set;get;} = "";
    string resultString { set; get; } = "";

    
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/11.3.0/stellar-sdk.min.js"></script>
<script src="./_content/pakana.stellar.components/js/testFundWallet.js"></script>