@page "/CreateMultiSig"

<head>
    <link href="~/Components/CreateMultiSig.css" rel="stylesheet" />
</head>

<div id="CreateMultiSig">
    <button id="createFundAndOperateButton">Create MultiSig</button>
</div>

@section Scripts {
<script src="~/Components/CreateMultiSig.js"></script>
<script src="~/Scripts/HorizonServer.js"></script>
<script src="~/Scripts/jQuery.js"></script>
}