
@using static System.Collections.Specialized.BitVector32

<head>
    <link href="~/Components/GenerateKeyPair/GenerateKeyPair.css" rel="stylesheet" />
</head>

<!--Generate Key Pair -->
<div id="GenerateKeyPair">
    <!-- Existing Wallet Address Field -->
    <div>
        <label for="WalletAddress">Wallet Address:</label>
        <div class="flex items-center border-b border-white">
            <input required type="text" id="WalletAddress" name="WalletAddress" class="block rounded-md border-none focus:ring-2 focus:ring-inset focus:ring-indigo-600" />
        </div>
    </div>

    <!-- Generate New Stellar Wallet Button -->
    <div>
        <button type="button" name="generateWalletBtn" id="generateWalletBtn" class="group relative">
            Generate New Stellar Wallet
        </button>
    </div>

    <!-- New Wallet Info Section -->
    <div id="newWalletInfo">
        <div>
            <label for="GeneratedSecretKey">Generated Secret Key:</label>
            <input type="text" id="GeneratedSecretKey" name="GeneratedSecretKey" class="block w-full rounded-md border border-indigo-700 focus:ring-2 focus:ring-inset focus:ring-indigo-600" />
        </div>
        <p id="trustlineStatus" class="text-red-500"><strong>Important:</strong> Copy and Save the secret key securely. It will not be transmitted to stored or servers and cannot be recovered.</p>
    </div>
</div>


<script src="~/Components/GenerateKeyPair/GenerateKeyPairAndFund.js"></script>
<script src="~/Scripts/HorizonServer.js"></script>

