@page "/AddMultiSigSigner"

<head>
    <link href="~/Components/AddMultiSigSigner.css" rel="stylesheet" />
</head>

<div id="AddMultiSigSigner">
    <button id="agentAddsSignersButton">Agent Adds Signers</button>
</div>


<script src="~/Components/AddMultiSigSigner.js"></script>
<script src="~/Scripts/HorizonServer.js"></script>
<script src="~/Scripts/jQuery.js"></script>
